contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.2
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
numpy==1.26.3
packaging==23.2
pick==2.2.0
pillow==10.2.0
Pygments==2.17.2
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
pyqtgraph==0.13.3
pyserial==3.5
python-dateutil==2.8.2
rich==13.7.0
six==1.16.0
